################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MegaMinds WebApp/MegaMinds WebApp/bin/Debug/net6.0
/MegaMinds WebApp/MegaMinds WebApp/obj/Debug/net6.0
/MegaMinds WebApp/.vs/MegaMinds WebApp/config/applicationhost.config
/MegaMinds WebApp/.vs/MegaMinds WebApp/v17/.suo
/MegaMinds WebApp/MegaMinds WebApp/obj/Debug/net6.0/MegaMinds WebApp.GeneratedMSBuildEditorConfig.editorconfig
/.vs
