USE [master]
GO
/****** Object:  Database [app1]    Script Date: 03-05-2023 23:49:36 ******/
CREATE DATABASE [app1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'app1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\app1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'app1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\app1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [app1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [app1]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NOT NULL,
	[CityName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserRegistration]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [varchar](100) NULL,
	[StateId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCity]  WITH CHECK ADD  CONSTRAINT [FK_tblCity_tblState] FOREIGN KEY([StateId])
REFERENCES [dbo].[tblState] ([Id])
GO
ALTER TABLE [dbo].[tblCity] CHECK CONSTRAINT [FK_tblCity_tblState]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @Id INT
AS
BEGIN
    DELETE FROM tblUserRegistration WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllStates]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllStates]
AS
BEGIN
    SELECT * FROM tblState
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SELECT * FROM tblUserRegistration
END
GO
/****** Object:  StoredProcedure [dbo].[GetCitiesByStateId]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCitiesByStateId]
    @StateId INT
AS
BEGIN
    SELECT * FROM tblCity WHERE StateId = @StateId
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
    @Id INT
AS
BEGIN
    SELECT * FROM tblUserRegistration WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
    @Name VARCHAR(50),
    @Email VARCHAR(50),
    @Phone VARCHAR(15),
    @Address VARCHAR(100),
    @StateId INT,
    @CityId INT
AS
BEGIN
    INSERT INTO tblUserRegistration (Name, Email, Phone, Address, StateId, CityId)
    VALUES (@Name, @Email, @Phone, @Address, @StateId, @CityId)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 03-05-2023 23:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @Id INT,
    @Name VARCHAR(50),
    @Email VARCHAR(50),
    @Phone VARCHAR(15),
    @Address VARCHAR(100),
    @StateId INT,
    @CityId INT
AS
BEGIN
    UPDATE tblUserRegistration SET
        Name = @Name,
        Email = @Email,
        Phone = @Phone,
        Address = @Address,
        StateId = @StateId,
        CityId = @CityId
    WHERE Id = @Id
END
GO
USE [master]
GO
